<!DOCTYPE html>

<html ng-app="course">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseMachine</title>
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/controllers")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        @RenderBody()
        <p style="text-align:center;">testing</p>
    </div>
</body>
</html>
